:80 {
    # 匹配 gRPC 的路径前缀
    @grpcProto {
        path /proto.NezhaService/*
    }

    # gRPC 请求的反向代理
    reverse_proxy @grpcProto {
        header_up Host {host}
        header_up nz-realip {http.CF-Connecting-IP} # 真实客户端 IP
        transport http {
            versions h2c # 使用 HTTP/2 明文传输
            read_buffer 4096
        }
        to localhost:8008
    }

    # 其他 HTTP 请求反向代理规则
    reverse_proxy {
        header_up Host {host}
        header_up Origin http://{host}
        header_up nz-realip {http.CF-Connecting-IP} # 真实客户端 IP
        header_up Upgrade {http.upgrade}
        header_up Connection "upgrade" # 支持 WebSocket 升级
        transport http {
            read_buffer 16384
        }
        to localhost:8008
    }
}
